h1 {
    color: blue;
    background-color: rgb(164, 215, 134);
}
p {
    font-style: italic;
    color: rgb(122, 30, 161);
    background-color: rgb(68, 136, 94);
}
* {
    font-family: Arial, sans-serif;
}